@font-face {
    font-family: 'proxima_nova';
    src: url('font/proximanova-bold-webfont.eot');
    src: url('font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-bold-webfont.woff2') format('woff2'),
         url('font/proximanova-bold-webfont.woff') format('woff'),
         url('font/proximanova-bold-webfont.ttf') format('truetype'),
         url('font/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff2') format('woff2'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: bold;
}



h1, h2, h3, h4, h5, h6, p {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
h1 {
	font-size: 36px;
	color: white;
}
h2 {
	font-size: 32px;
	color: #2498f4;
}
h3 {
	font-size: 24px;
	color: white;
}
h4 {
	font-size: 21px;
	color: #2498f4;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
p {
	font-size: 13px;
	color: #999999;
}
a {
	text-decoration: none !important;
}

@media(min-width:0px){
	.user, .config {
		display: none;
	}
	.icons, .navcontainer, .menubar, .bar1, .bar2 {
		display: none;
	}
	.dashboard {
		padding-bottom: 135px;
	}
	.arrows {
		padding-left: 13px !important;
	}
	.announcement {
		border-left: 1px;
		border-right: 1px;
	}
	.recommendations h5 {
    	line-height: 100% !important;
	}
	.graph1 {
		display: none;
	}
	.graph2ccontainer {
		margin-top: 0px;
		padding-top: 50px;
	}
	.graph2rcontainer {
		padding-top: 70px;
	}
	.graph2rTitle, .graph2cTitle {
		margin-left: 150px;
		float: left;
		position: absolute;
	}
	.cnc {
		margin-top: 100px !important;
    	padding-top: 60px !important;
    	border-top: 0px!important;
	}
	.checkboxes {
    	margin-right: 0px !important;
    	padding-left: 0px !important;
	}
	.dyk {
		margin-top: 35px;
	}
	.ads {
		margin-top: 100px;
	}
	.ad1 {
    	margin-left: 0px !important;
	}
	.ad1, .ad2, .ad3 {
		margin: auto !important;
	}
	.next {
		margin-right: -15px !important;
	}
	.ribbon1, .ribbon2 {
		display: none;
	}
	.main {
		padding-left: 15px !important;
		border-top: solid !important;
		border-width: 1px !important;
		border-color:#d9d9d9 !important;
	}
	.contacts, .customers {
		margin: auto;
		left: 0px;
	}
	.statusbar2, .statusbar3, .statusbar4, .statusbar5 {
		display: none;
	}
}

@media(min-width:550px) {
	.graph1 {
		display: block;
		margin-top: -540px;
		background-image: none !important;
	}
	.graph2ccontainer {
		margin-top: 400px;
	}
}

@media(min-width:1000px){
	.icons, .navcontainer, .menubar, .bar1, .bar2 {
		display: block;
	}
	.dashboard {
		padding-bottom: 0px;
	}
	.announcement {
		border-left: 0px !important;
		border-right: 0px !important;
	}
	.recommendations h5 {
    	line-height: 50% !important;
	}
	.next {
		margin-right: -39px !important;
	}
}
@media(min-width:1200px){
	.user, .config {
		display: block;
	}
	.arrows {
		padding-left: 22px !important;
	}
	.graph1 {
		margin-top: -125px;
		background-image: url('img/spacer5.png') !important;
	}
	.graph2ccontainer {
		margin-top: 0px;
		padding-top: 0px;
	}
	.graph2rcontainer {
		padding-top: 0px;
	}
	.graph2rTitle, .graph2cTitle {
		margin-left: -15px;
		float: none;
		position: relative;
	}
	.cnc {
		border-top: solid !important;
		border-width: 1px !important;
		border-color:#d9d9d9 !important;
		margin-top: 40px !important;
    	padding-top: 40px !important;
	}
	.checkboxes {
    	margin-right: -60px !important;
    	padding-left: 150px !important;
	}
	.dyk {
		margin-top: 23px;
	}
	.ad1 {
    	margin-left: 70px !important;
	}
	.ad1, .ad2 {
		margin-right: 90px !important;
    	margin-top: 30px !important;
    	margin-bottom: 30px !important;
	}
	
	.ad3 {
		margin-top: 30px !important;
    	margin-bottom: 30px !important;
	}
	.next {
		margin-right: -22px !important;
	}
	.ads {
		margin-top: 0px;
	}
	.ribbon1, .ribbon2 {
		display: block;
	}
	.main {
		padding-left: 30px !important;
		border-top: 0px!important;
	}
	.contacts, .customers {
		margin: 0px;
		left: 1px;
	}
	.contacts {
		left: 70px;
	}
	.statusbar2, .statusbar3, .statusbar4, .statusbar5 {
		display: block;
	}
}




.topnav {
	background-image: url('img/menubar_tile.png');
	background-size: auto;
	height: 40px;
}

.logo {
	margin-top: -12px;
	color: white;
	font-weight: thin;
}
.topnav a:link, .topnav a:visited {
	color: #fff !important;
}
.topnav a:hover, .topnav a:active {
	color: #edf4f8 !important;
}

.user {
	padding-left: 85px;
	margin-top: 12px;
	font-family: "proxima-nova", sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: white;
	cursor: default;
}

.config {
	margin-top: 2px;
	padding-left: 10px;
	cursor: default;
}

.config img {
	margin: 2px;
}

.bar1 {
	background-color: #208ce3;
	background-size: auto;
	height: 1px;
	margin-top: 0px;
}
.bar2 {
	background-color: #124169;
	background-size: auto;
	height: 1px;
}

.menubar {
	background-image: url('img/menubar_tile2.png');
	background-size: cover;
	background-position: top left;
	background-repeat: repeat-x;
	height: 110px;
	margin: 0 auto;
}
.menubar .container {
	background-image: url('img/fade_left.png'), url('img/fade_right.png'), url('img/bitmap.png'), url('img/patternfill.png');
	background-position: top left, top right, center bottom, top left;
	background-repeat: repeat-y, repeat-y, no-repeat, repeat-x;
	height: 110px;
}
.menubar .icons {
	margin: 0 auto;
	margin-top: 21px;
}
.menubar .shadows {
	margin: 0 auto;
	margin-top: 0px;
}
.marker1, .marker2,.marker3,.marker4,.marker5,.marker6 {
	margin-left: 10px;
}







.dashboard {
	background-color: #33cc66;
	height: 75px;
	margin-top: 15px;
}
.content {
	width: auto;
	margin: 0 auto;
}
.content a:link, .content a:visited {
	color: #2498f4;
}
.content a:hover, .content a:active {
	color: #cccccc;
}

.announcements .col-md-2 {
	color: #fe7f13;
}
.announcements .col-md-9 {
	color: #777777;
}
.arrows {
	height: 37px;
    padding-top: 6px;
    padding-left: 22px;
}


#tasktext a:first-child:link, #tasktext a:first-child:visited, #tasktext a:first-child:hover, #tasktext a:first-child:active  { /*task numbers always stay white*/
	color: #fff !important;
}

.tasks img {
	float: right;
	margin-top: 22px;
}

.task1, .task2, .task3, .task4 {
	background-image: url('img/icon_eclipse_active.png');
	background-repeat: no-repeat;
	background-position: left+8px center;
	margin-top: 7px;
}
.task1, .task2, .task3, .task4 h4 {
	padding-top: 2px;
	cursor: default;
}

#taskcount{
	background-image: url('img/icon_person_active.png');
	background-repeat: no-repeat;
	background-position: left+10px center;
	max-height: 30px;
	max-width: 65px;
	float:right;
	margin-top: 8px;
	margin-right: 10px;
}
#taskcount h5 {
	margin-left: 22px;
	margin-top: 8px;
}
.centerthis h5{
	margin-left: 26px !important;
}


/*
.recommendations h5:hover, .recommendations h5:active, .recommendations p:hover, .recommendations p:active {
	color: red !important;
}*/
.recommendations {
	margin-top: 25px;
}
.recommendations p {
	font-size: 10px;
	line-height: 5%;
	color: #777777;
}
.recommendations h5 {
	line-height: 50%;
	color: #777777;
}
.recommendations .row {
	margin-left: -3px;
	padding-left: 36px;
	margin-bottom: 25px;
	padding-top: 7px;
}

.rec1 {
	background-image: url('img/icon_article.png'), url('img/spacer4.png');
	background-repeat: no-repeat, no-repeat;
	background-position: top left, bottom left;
	padding-bottom: 7px;
}
.rec2 {
	background-image: url('img/icon_article.png'), url('img/spacer4.png');
	background-repeat: no-repeat;
	background-position: top left, bottom left;
	padding-bottom: 7px;
	margin-top: -5px;
}
.rec3 {
	background-image: url('img/icon_checklist.png'), url('img/spacer4.png');
	background-repeat: no-repeat;
	background-position: top left, bottom left;
	padding-bottom: 7px;
	margin-top: -5px;
}
.rec4 {
	background-image: url('img/icon_tip.png'), url('img/spacer4.png');
	background-repeat: no-repeat;
	background-position: top left, bottom left;
	padding-bottom: 7px;
	margin-top: -5px;
}





.graph1 {
	background-image: url('img/spacer5.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	position: relative;
	padding-top: 50px;
	margin-left: 35px;
	margin-right: -13px;
}

.checkboxes {
	margin-top: 30px;
	padding-left: 150px;
}


.graph2cTitle, .graph2rTitle {
	text-align: center;
}
.graph2c, .graph2r {
	margin-left: 41px;
	margin-bottom: 20px;
}





.cnc {
	margin-top: 40px;
	margin-left: -30px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-left: 0 !important;
    border-right: 0 !important;
    width: 106%;
}
.contacts, .customers {
	width: 205px;
	height: 205px;
}

.ribbon1 {
	position: absolute;
	left: 70px;
	top: 52px;
}
.contacts {
	position: relative;
}
.contactPerson {
	position: relative;
	margin-top: -20px;	
	margin-left: 63px;
	z-index: 0;
}
.contactRibbon {
	background-color: #2394ee;
	margin-top: 0px;
	margin-left: -1px;
	height: 50px;
	width: 205px;
	z-index: 100;
}
.contactRibbon h4 {
	color: #fff;
	margin: auto;
	margin-top: 7px;
	text-align: center;
}
.contactRibbon p {
	color: #fff;
	margin: auto;
	font-size: 11px;
	text-align: center;
}
.contactGraph {
	width: 192px;
	margin-left: 5px;
	margin-top: 11px;
}

.ribbon2 {
	position: absolute;
	left: 290px;
	top: 52px;
}

.customers {
	left: 350px;
}



.dykcontainer {
	width: 100%;
	margin-left: 9px;
}
.dyk {
	margin-top: 23px;
	width: 100%;
	background-color: #2498f4;
	border: 0px !important;
	height: 100%;
    padding-bottom: 45px;
}

.back {
	padding-top: 40px;
	margin-left: -16px;
}
.text {
	margin: auto;
	margin-left: 30px;
	margin-top: 35px;
}
.text p {
	color: #fff !important;
}
.next {
	position: relative;
	float: right;
	padding-top: 42px;
	margin-right: -23px;
}




.ads {
	background-color: #2498f4;
	margin-bottom: 40px;
}

.ad1, .ad2, .ad3 {
	height: 160px;
	width: 280px;
	border: 0px !important;
	margin-right: 90px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.ad1 {
	margin-left: 70px;
}
.ad3 {
	margin-right: 0px;
}
.ad1 img {
	position: absolute;
	left: 0;
}
.ad2 img {
	position: absolute;
	bottom: 0px;
	right: 5px;
}
.ad3 img {
	position: absolute;
	top: 0px;
	right: 0px;
}
.ad1 .text1 p {
	position: absolute;
	text-align: right;
	font-size: 20px !important;
	color: #33cc66 !important;
	line-height: 98%;
	z-index: 100;
	right: 20px;
	top: 45px;
}
.ad1 .text2 p {
	position: absolute;
	text-align: right;
	font-size: 14px !important;
	color: #b2b2b2 !important;
	z-index: 100;
	right: 20px;
	top: 88px;
}

.ad2 .text1 p {
	position: absolute;
	font-size: 14px !important;
	color: #fff !important;
	z-index: 100;
	left: 40px;
	top: 70px;
}

.ad3 .text1 p {
	position: absolute;
	font-size: 20px !important;
	color: #fe7f13 !important;
	z-index: 100;
	left: 18px;
	top: 40px;
}




.statusbar {
	background-image: url('img/statusbar_tile.png');
	background-repeat: repeat-x;
	height: 60px;
	width: 100%;
	position: relative;
  	bottom: 0px;
}

.statusbar a:link, .statusbar a:visited {
	color: #999999;
}
.statusbar a:hover, .statusbar a:active {
	color: #777777;
}

.statusbar b {
	color: #2498f2;
}

.statusbar b:hover {
	color: #228fe3;
}

.statusbar .container .row {
	padding-top: 21px;
}

.statusbar .container .row p {
  	font-family: "proxima-nova", sans-serif;
	font-weight: normal;
	font-size: 14px;	
	color: #777777;
}

.statusbar .container .row img {
	margin: 2px;
}

.statusbar2 {
	background-image: url('img/spacer3.png');
	background-repeat: no-repeat;
	background-position: 20px;
	height: 51px;
}
.statusbar4 {
	background-image: url('img/spacer3.png');
	background-repeat: no-repeat;
	background-position: 30px;
	height: 51px;
}
.statusbar5 {
	background-image: url('img/spacer3.png'), url('img/spacer3.png');
	background-repeat: no-repeat;
	background-position: right, 25px;
	height: 51px;
}

.statusbar3 img {
	float: right;
	padding-top: 30px;
}
.statusbar3 {
	margin-top: 11px;
}

.statusbar2 p {
	padding-left: 50px;
}

.statusbar4 p {
	float:right;
	padding-right: 10px;
}

.statusbar5 {
	padding-left: 65px;

}

.statusbar1, .statusbar2, .statusbar5 {
	padding-top:10px;
}


/*---------------------search---------------------*/
.add-on .input-group-btn > .btn {
	border-left-width:0;left:-2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(45, 181, 91, 0.075);
	box-shadow: inset 0 1px 1px rgba(45, 181, 91, 0.075);
	border-color:#2db55b; 
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
	box-shadow:none;
	-webkit-box-shadow:none; 
	border-color:#2db55b; 
}
.glyphicon {
	color: #2498f4;
}
.form-control {
	border-color:#2db55b; 
}
.searchbar {
	margin-top: 10px;
}
/*------------------------------------------------*/
.announcement {
	border-left: 0;
	border-right: 0;
}
.taskrow2, .taskrow4 {
	border-left: 0 !important;
	border-right: 0 !important;
}
.side {
	height: 901px;
	border-top: 0 !important;
	border-bottom: 0 !important;
}
.checkboxes {
	float: right;
    margin-right: -60px;
}
.panel {
	border: 1px solid #d9d9d9;
}

.main {
	height: 901px;
	padding-left: 30px;
	border-left: 0;
	border-bottom: 0 !important;
}

.btn-group {
	z-index: 100;
}

.btn-primary {
    color: #777777;
    background-color: #fff;
    border-color: #dddddd;
}

.caret {
	color: #fe7f13;
}

.border {
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
}


/* http://blogs.adobe.com/dreamweaver/2015/08/css-vs-svg-styling-checkboxes-and-radio-buttons.html*/


input[type="checkbox"] {
    display: none;
}

label {
  cursor: pointer;
  color: #555;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:21px;
    margin:-1px 4px 0 0;
    padding-left: 1em;
    vertical-align:middle;
    background:url(img/cb.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    display:inline-block;
    width:22px;
    height:21px;
    margin:-1px 4px 0 0;
     padding-left: 1em;
    vertical-align:middle;
    background:url(img/cbchecked.png) left top no-repeat;
}

/*
.test {
	background-color: blue;
	border-color: red;
	border: 1px solid;
}
